body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar {
  background-image: url("img.png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  padding-left: 30px;
}

.navbar h1 {
  font-family: "Times New Roman";
  font-size: 36px;
  padding-left: 10px;
  display: inline-block;
}

.navbar div {
  overflow: hidden;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding-left: 10px;
  padding-bottom: 10px;
  overflow: hidden;
}

.navbar li {
  float: left;
}

.navbar li a {
  display: block;
  padding-right: 10px;
  font-size: 20px;
}

.navLink {
  color: white;
  text-decoration: none;
}

.active {
  color: red;
}

.navH1RedText {
  color: red;
}

.navH1WhiteText {
  color: white;
}


.newsList li {
  list-style-type: none;
}

.newsList li a {
  text-decoration: none;
}

.newTitleLink {
  text-decoration: none;
  color: black;
  font-size: 20px;
}

.newTitleLink:hover {
  color: red;
}

.postImage {
  width: 60%;
}

.newsTitle {
  color: black;
  font-size: 20px;
}

.newsTitleLink {
  text-decoration: none;
  color: black;
  font-size: 20px;
}

.newLink {
  text-decoration: none;
  color: red;
}

.newLink:hover {
  text-decoration: underline;
}

.sameNewsLbl {
  padding-left: 40px;
}

.newsDiv {
  margin-left: 40px;
}

.sortBtn {
  background-color: white;
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  border: 2px solid black;
  border-radius: 10px;
  padding: 5px;
}

.sortBtn:hover {
  color: red;
  border: 2px solid red;
}

.pageBarBtn {
  background-color: white;
  margin-right: 5px;
  margin-top: 5px;
  font-size: 14px;
  border: 2px solid black;
  border-radius: 10px;
  padding-left: 5px;
  padding-right: 5px;
  width: auto;
}

.pageBarBtn:hover {
  color: red;
  border: 2px solid red;
}

.search {
  font-size: 16px;
}

.searchInput {
  border: 2px solid black;
  border-radius: 5px;
  width: 200px;
  padding: 2px 5px;
}

.newImage {
  width: 80%
}

.aboutDiv {
  margin-left: 40px;
  margin-top: 20px;
}

.aboutUl {
  list-style-type: none;
}

.aboutUl {
  font-size: 20px;
}

.searchBtn {
  background-color: white;
  margin-right: 5px;
  margin-top: 5px;
  font-size: 14px;
  border: none;
  padding: 3px 5px;
  width: auto;
}

.searchBtn:hover {
  color: red;
}

.pagesNum {
  display: inline;
}

.newSummary {
  font-size: 18px;
}